<div  ng-controller="RemoteStreamsController as rtc" class="row">

<div class="col-md-4">

    <h1><img src="/cdn/images/eyelogo.png" width="250"></h1>

	<h2>People on Live</h2>


	<table class="table">
    	<thead>
    		<tr>
        		<th>User</th><th>Action</th>
   			</tr>
   		</thead>
    	<tbody>
    		<tr ng-repeat="stream in rtc.remoteStreams" ng-class="{'selected' : stream.isPlaying}">
        		<td><a>{{stream.name}}</a></td>
                <td ng-click="rtc.view(stream)"><a>View</a></td>
    		</tr>
		</tbody>
	</table>

	<span ng-click="rtc.loadData()" style="width: 240px">
        <a class="btn btn-primary btn-block" href>Refresh</a>
    </span>

    </div>

    <div class="visible-sm visible-xs">
     <br>

    </div>

    <div class="col-md-8" >
     <br>
     <br>
    <div id="remoteVideosContainer"></div>


    </div>

<div class="remoteStreams">